html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 768px;
  margin: auto;
  background: whitesmoke;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-size: 4rem;
}

form {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

input,
button {
  font-size: 2rem;
  margin: 0 1em;
  outline: none;
}

.check {
  display: flex;
  align-items: center;
}

button:hover,
button:focus {
  cursor: pointer;
}

.grudges {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2rem;
}

.grudge {
  display: flex;
  flex-direction: column;
  border: 1px solid salmon;
  padding: 1em 2em;
  margin: 1em 2em;
}

.grudge h2 {
  font-size: 3rem;
  margin: 0;
}

.grudge p {
  font-size: 2.5rem;
  margin: 0.5em 0;
}
